<section class="header row middle-xs">
  <%= link_to (image_tag "logo.png", class: "logo"), current_user %>

  <% if user_signed_in? %>
    <span class="col-xs">
    </span>

    <%= link_to destroy_user_session_path, method: :delete do %>
      <span class="btn btn-alert col-xs-1">
        <%= t ".menu_log_out" %>
      </span>
    <% end %>

  <% else %>
    <%= link_to t(".menu_log_in"), new_user_session_path %>
  <% end %>
</section>
