<h2 class="col-xs-12 md-margin">
  Imagegallery
</h2>

<section class="col-xs-12 row center-xs">
  <% @images.each do |image| %>
    <section class="col-xs-6 col-sm-4 col-md-3 activity-image-wrapper row start-xs">
      <%= link_to image.image.url, class: "fancybox", rel: "activity-images" do %>
        <%= image_tag image.image(:square) %>
      <% end %>

      <%= link_to "remove", activity_image_path(image), method: :delete, class: "hideable-link hideable-link-active" %>
    </section>
  <% end %>
</section>
<%= will_paginate @images %>

<span class="btn md-margin visible-btn">
  Edit
</span>

<span class="btn md-margin done-btn done-btn-inactive">
  Done
</span>
