<section class="landing-wrapper row center-xs middle-xs">
  <section class="col-xs-12 col-sm-6">
    <%= image_tag "logo.png", class: "landing-logo" %>

    <h2 class="lighten">
      <%= t ".welcome_title" %>
    </h2>

    <p class="lighten lg-margin">
      <%= t ".welcome_text" %>
    </p>

    <%= link_to (fa_icon "plus", text: t(".create_new_account_btn")), new_user_registration_path, class: "btn btn-success" %>
  </section>
</section>
