.activities-wrapper {
  @include respond-to("medium") {
    padding: 0;
  }
}

.activity-wrapper {
  background-color: $white;
  margin-top: 2em;
  padding: 0;

  @include respond-to("medium") {
    margin: 1em;
  }
}

.activity {
  background-color: $white;
  width: 80%;
  padding: 3em;

  &-title {
    color: $white;
  }

  &-image {
    height: 100%;
    max-height: 100px;
  }

  &-arrow {
    font-size: 3.5em;
  }
}
