.no-margin {
  margin: 0;
}

.md-margin {
  margin: 1em;
}

.lg-margin {
  margin: 3em;
}

.xs-side-margin {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.xs-left-margin {
  margin-left: 0.1em;
}

.md-left-margin-gt-lg {
  margin-left: 0;

  @include respond-to("large") {
    margin-left: 1em;
  }
}

.lg-left-margin-gt-lg {
  margin-left: 0;

  @include respond-to("large") {
    margin-left: 2em;
  }
}

.md-left-margin {
  margin-left: 1em;
}

.md-top-margin {
  margin-top: 1em;
}

.lg-top-margin {
  margin-top: 1.5em;
}

.no-padding {
  padding: 0;
}

.no-padding-md {
  padding: 0;

  @include respond-to("medium") {
    padding: 1em;
  }
}

.xs-side-pad {
  padding: 0 0.1em;
}
