.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  &-overflow {
    margin-top: 0;

    @include respond-to("large") {
      margin-top: -150px;
    }
  }
}

.row {
  margin-right: 0;
  margin-left: 0;
}
