<section class="col-xs-12 col-md-8">
  <p>
    <span class="italic">
      <%= feedback.body %>
    </span>
    -
    <%= feedback.user.first_name %>
    <%= feedback.user.surname %>
  </p>
</section>
