<footer class="footer md-top-margin">
  <section class="container row middle-md center-xs start-md">
    <section class="col-xs-12 col-md-4 center-xs">
      <%= image_tag "logo.png", class: "logo start-xs" %>
      <p>
        Developed for <span class="italic"> Albina Pashkevich </span>
      </p>
    </section>

    <section class="col-xs-12 col-md-4 row center-xs">
      <h2 class="col-xs-12">
        Contact
      </h2>

      <p class="col-xs-12 no-margin">
        kalle@saits.se
      </p>

      <p class="col-xs-12 no-margin">
        jonas@saits.se
      </p>
    </section>

    <section class="col-xs-12 col-md-4 row center-xs end-md">
      <h3 class="col-xs-12">
        Developed by
      </h3>

      <section class="col-xs-3 col-sm-2 col-lg row center-xs end-md">
        <p class="col-xs-12 no-margin">
          Kalle Lundgren
        </p>
        <p class="col-xs-12 no-margin">
          Jonas Renngård
        </p>
        <p class="col-xs-12 no-margin">
          Gabriel Yousef
        </p>
      </section>
    </section>
  </section>
</footer>
