<footer class="footer md-top-margin">
  <section class="row middle-md center-xs">
    <section class="col-xs-12 col-md-4 center-xs">
      <%= image_tag "logo.png", class: "logo start-xs" %>
    </section>

    <section class="col-xs-12 col-md-4 row center-xs">
      <h2 class="col-xs-12">
        Developed for
      </h2>

      <p class="col-xs-12 no-margin">
        <span class="italic"> Albina Pashkevich </span>
      </p>
    </section>

    <section class="col-xs-12 col-md-4 row center-xs center-md">
      <h3 class="col-xs-12">
        Developed by
      </h3>

      <section class="col-xs-3 col-sm-2 col-lg row center-xs center-md">
        <p class="col-xs-12 no-margin">
          Kalle Lundgren
        </p>
        <p class="col-xs-12 no-margin">
          Jonas Renngård
        </p>
        <p class="col-xs-12 no-margin">
          Gabriel Yousef
        </p>
      </section>
    </section>
  </section>
</footer>
